.homeContact, .homeProjects{
	line-height: 1.6;
	display: inline-block;
}

.homeContact{
	background-color: white;
	height: 100vh;
	overflow: hidden;
}

.homeProjects{
	background-color: black;
	color: white;
	height: 100vh;
	overflow: scroll;
}